


.herosection-container {
  background: #0c0c0c;
  padding-block: 48px 24px;
  overflow: auto;
}
.herosection-container > :first-child { margin-top: 0; }
.herosection-container > :last-child { margin-bottom: 0; }

.header-section {
  padding: 70px 25px 35px;
}


.video-wrapper {
  overflow: hidden; /* Ensures no overflow from the video's border-radius */
}

.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px; /* Rounded corners */
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub-heading {
  font-size: 2rem;
  margin: 50px 10px;
  max-width: 30%;
}

.button-container {
  margin-top: 50px;
  padding: 0 25px;
}

.hero-button-container button {
  padding: 10px 25px;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid white;
  white-space: nowrap;
}

.info-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.sub-heading {
  flex: 1;
  margin-right: 10px;
}

@media (max-width: 991px) {
  .header-section {
    padding: 50px 25px 10px;
  }
  .button-container {
    margin-top: 50px;
    padding: 0 25px;
  }
  .hero-button-container {
    margin-top: 0px;
    
  }

  .hero-button-container button {
    font-size: 1rem;
  }

  .sub-heading {
    font-size: 1rem;
    margin: 0px 0px;
    padding: 7.5px;
    max-width: 60%;
  }

  .video-wrapper video {
    height: 150%; /* Adjusted height for mobile devices */
  }
}

@media (max-width: 576px) {
  .header-section {
    padding: 20px 15px 5px;
  }
}

@media (max-width: 576px) {
  .herosection-container {
    padding-block: 0;
  }
}







