/* Editor Base and Utility Styles */

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.other h2 {
  font-size: 18px;
  color: #444;
  margin-bottom: 7px;
}

.other a {
  color: #777;
  text-decoration: underline;
  font-size: 14px;
}

.other ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}






