/* Design Tokens - Font Faces */

@font-face {
  font-family: 'Helvetica Special';
  src: url('/fonts/Helvetica-Display.woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Black';
  src: url('/fonts/Helvetica-Black.woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Light';
  src: url('/fonts/Helvetica-Light.woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/Helvetica-Neue.woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Medium';
  src: url('/fonts/Helvetica-Medium.woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'mylg-serif';
  src: url('/fonts/mylg-serif.woff2');
  font-weight: 500;
  font-style: normal;
}






